.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;    
        position: fixed;
        top:6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 101;
        box-shadow: 0 1rem 3rem rgba($color-black,.1);
    }

    &__background {

        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top:6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 99;
        transition: all 0.6s;

        
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top:0;
        left:0;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
    }

    &__list {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style: none;
    }

    &__item {
        margin:1rem;

    }

    &__link {
        &:link,
        &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        color:$color-white;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.8s;
        padding: 1rem 2rem;
        background-image: linear-gradient(115deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 220%;

     }
        &:hover {
            color:$color-primary-light;
            background-position: 100%;
            transform: translateX(1rem);
        }

    }
    &__checkbox:checked ~ &__background {
        transform: scale(80)

    }

    &__checkbox:checked ~ &__nav {
        visibility:visible;
        opacity:1;

    }
}

// #navi-toggle {
        
// }